.bench-index-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: calc(100vw - 40px);
}

.bench-list-and-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}